#root {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

#main-heading {
  margin-top: 20%;
  width: 100%;
}

.main-currency-select {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  margin-bottom: 36px;
}

.currency-row {
  position: relative;
  margin-bottom: 16px;
  padding: 2px 0px 2px 0px;
}

.currency-row:hover {
  background-color: #bc75d205;
}

.currency-row .delete-icon {
  position: absolute;
  left: -38px;
  padding-top: 12px !important;
  height: 54px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.currency-row:hover .delete-icon {
  opacity: 1;
  border-radius: 5%;
  background-color: rgba(255, 0, 0, 0.083);
}

.row-left-column {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.side-currency-form-control {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}

.side-currency-select {
  min-width: 160px;
  width: 40%;
  font-size: 1.1rem;
  font-weight: 500;
}

.currency-row:hover .side-currency-select {
  font-weight: 600;
}

.currency-rate {
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  margin: 0;
  top: 10px;
}
.currency-row:hover .currency-rate {
  color: #4c9e46;
  font-weight: 600;
}

.add-currency-button {
  margin-top: 26px;
  color: #DDD !important;
  background-color: #bc75d273 !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1.8em;
  background-color: #bc75d20f;
  margin-bottom: 6px;
}

.info {
  color: #bc75d2;
}
