:root {
  /* Colors */
  --color-primary: #bc75d2;
  --color-primary-transparent: #bc75d273;
  --color-primary-border: #bc75d233;
  --color-primary-hover: #bc75d205;
  --color-primary-card: #bc75d20f;
  --color-secondary: #8b6198;
  --color-rate: #e9c9f3cb;
  --color-rate-primary: #b670cbad;
  --color-rate-hover: #59d678;
  --color-delete-hover: rgba(49, 4, 4, 0.264);
  --color-text-light: #DDD;
  --color-text-dark: #222;
  --color-disabled: #55555573;
}

#root {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#main-heading {
  margin-top: 100px;
  width: 100%;
}

.main-currency-select {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  margin-bottom: 26px;
}

.date-picker-container {
  margin-bottom: 26px;
}

.date-picker {
  margin-bottom: 4px !important;
}

.date-header-row {
  display: grid;
  grid-template-columns: minmax(70px, 1fr) repeat(7, 1fr);
  margin-bottom: 8px;
  padding: 0 0 8px 0;
  border-bottom: 1px solid var(--color-primary-border);
}

.empty-header-cell {
  grid-column: span 1;
}

@media (min-width: 500px) {
  .date-header-row {
    grid-template-columns: minmax(70px, 2fr) 100px repeat(7, 1fr);
  }
}

.date-header-cell {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-secondary);
  padding: 0 4px;
}

.date-header-cell:last-child {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-primary);
  padding: 0 4px;
}

.date-header-cell.trend-header {
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .date-header-cell.trend-header {
    display: none;
  }
}

.rates-header {
  margin: 20px 0 16px 0;
}

.rates-header h3 {
  color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}

.currency-row {
  position: relative;
  margin-bottom: 16px;
  padding: 2px 0px 2px 0px;
}

.currency-row:hover {
  background-color: var(--color-primary-hover);
}

.currency-row .delete-icon {
  position: absolute;
  left: -38px;
  padding-top: 12px !important;
  height: 54px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.currency-row:hover .delete-icon {
  opacity: 1;
  border-radius: 5%;
  background-color: var(--color-delete-hover);
}

.row-left-column {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.side-currency-form-control {
  display: grid !important;
  grid-template-columns: minmax(70px, 1fr) repeat(7, 1fr);
  align-items: center;
  height: 52px;
}

@media (min-width: 500px) {
  .side-currency-form-control {
    grid-template-columns: minmax(70px, 2fr) 100px repeat(7, 1fr);
  }
}

.side-currency-select {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
}

.currency-row:hover .side-currency-select {
  font-weight: 600;
}

.rate-date-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-primary);
  margin: 0;
  margin-bottom: 4px;
  text-align: right;
}

.currency-rate {
  margin: 0;
  text-align: center;
  margin-bottom: 8px;
}

.currency-rate.rate-small {
  font-size: 0.8em;
}

.currency-rate.rate-tiny {
  font-size: 0.65em;
}

.currency-row:hover .currency-rate {
  color: var(--color-rate-hover);
  font-weight: 600;
}

.rate-cell {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  padding-right: 4px;
  font-size: 0.95rem;
  font-weight: 200;
  color: var(--color-rate);
  transition: background-color 0.2s ease, transform 0.2s ease;
  border-radius: 4px;
}

.rate-cell.hovered {
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .rate-cell {
    font-size: 0.75rem;
  }
  .rate-cell:last-child {
    font-size: 0.9rem;
  }
  .rate-cell:hover {
    font-size: 1rem;
  }
}

.rate-cell:last-child {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-rate-primary);
}
.rate-cell:hover {
  font-weight: 600;
  font-size: 1.2rem;
}

.sparkline-cell {
  padding: 0px;
  margin-left: 26px;
}

@media (max-width: 500px) {
  .sparkline-cell {
    display: none;
  }
}

.add-currency-button {
  margin-top: 10px !important;
  margin-bottom: 24px !important;
  color: var(--color-text-light) !important;
  background-color: var(--color-primary-transparent) !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.add-currency-button:disabled {
  background-color: var(--color-disabled) !important;
  color: var(--color-text-dark) !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1.8em;
  background-color: var(--color-primary-card);
  margin-bottom: 6px;
}

.info {
  color: var(--color-primary) !important;
}
